<div id="container">
  <div id="head">
    <!-- <img class="back" src="assets/images/chevron_left.png" (click)="goBack()" /> -->
    <svg
      class="back"
      (click)="goBack()"
      width="8"
      height="14"
      viewBox="0 0 8 14"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M6.29849 0.989502L0.288086 6.99991L6.29849 13.0103L7.71271 11.5961L3.11651 6.99991L7.71271 2.40372L6.29849 0.989502Z"
        fill="#003594"
      />
    </svg>

    <p id="title">Termini e condizioni</p>
  </div>
  <div>
    <p id="subtitle">1. Titolo</p>
    <p id="text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
      ultrices ligula risus, sit amet pretium dui iaculis hendrerit. Proin est
      lectus, sollicitudin at varius ut, suscipit nec nisl. Aenean sagittis
      neque at risus pellentesque, non viverra nunc suscipit. Interdum et
      malesuada fames ac ante ipsum primis in faucibus. Donec sed purus nec ante
      imperdiet pretium id in libero. Fusce malesuada diam ut nulla semper
      egestas. Fusce vehicula, nunc ac commodo rutrum, lectus lorem commodo
      eros, tempor rhoncus metus metus vel tellus. Vivamus et elit at dui
      posuere vestibulum sed quis lectus. Donec ante purus, suscipit nec gravida
      tempor, porta ac neque. Duis at libero non ex tincidunt porttitor viverra
      nec nulla. Aenean a vehicula nisi. Quisque facilisis tellus metus, ut
      dignissim mauris ullamcorper vitae. Maecenas ut quam purus. Integer ac ex
      vel ex efficitur scelerisque. Curabitur in nisl metus.
    </p>
  </div>
</div>
