<div class="loader" *ngIf="isLoading">
  <app-sm-loader></app-sm-loader>
</div>

<div id="container">
  <div id="head">
    <h1 id="title">Badgeverso</h1>
    <span id="point"></span>
  </div>

  <div [ngSwitch]="errorNumber">
    <div class="error-message" *ngSwitchCase="'404'">
      <i class="fa-solid fa-triangle-exclamation"></i> Nessun utente associato
      alla mail inserita.
    </div>
    <div class="error-message" *ngSwitchCase="'401'">
      <i class="fa-solid fa-triangle-exclamation"></i> La password inserita non
      è corretta.
    </div>
  </div>

  <div *ngIf="form">
    <form id="login" [formGroup]="form" (ngSubmit)="onSubmitLogin()">
      <div id="email">
        <app-input
          [textLabel]="'Email*'"
          [placeholder]="'Inserisci la tua email'"
          [backgroundInput]="'var(--input-bg-color)'"
          [for]="'email'"
          [parentFormGroup]="form"
          [controlName]="'email'"
          [name]="'email'"
        >
        </app-input>
        <div *ngIf="email?.errors && email?.touched">
          <p class="validation">Campo obbligatorio</p>
        </div>
      </div>
      <div id="password">
        <app-input
          [textLabel]="'Password*'"
          [placeholder]="'Inserisci la tua password'"
          [backgroundInput]="'var(--input-bg-color)'"
          [for]="'password'"
          [parentFormGroup]="form"
          [controlName]="'password'"
          [name]="'password'"
          [type]="type"
        >
        </app-input>
        <div *ngIf="password?.touched && password?.invalid">
          <p class="validation">Campo obbligatorio</p>
        </div>
      </div>

      <div id="buttonLogin">
        <app-button
          [typeButton]="'submit'"
          [textButton]="'Accedi'"
          [disabled]="form.invalid"
        >
        </app-button>
        <p id="forgottenPassword" [routerLink]="['/passwordrecovery']" >Hai dimenticato la password? </p> 
      </div>
    </form>
  </div>
</div>
