<div class="container">
  <!-- <div *ngIf="!isEmailSent" class="forgot-container">
    <div class="head">
      <h1 class="title">Badgeverso</h1>
      <span class="point"></span>
    </div>

    <div>
      <div class="message">
        Problemi di accesso? Inserisci il tuo indirizzo e-mail e ti invieremo un
        link per accedere di nuovo al tuo account.
      </div>
    </div>

    <div *ngIf="form">
      <form
        class="login"
        [formGroup]="form"
        (ngSubmit)="onSubmitRecoveryPassword()"
      >
        <div class="email">
          <app-input
            [textLabel]="'Email*'"
            [placeholder]="'Inserisci la tua email'"
            [backgroundInput]="'var(--input-bg-color)'"
            [for]="'email'"
            [parentFormGroup]="form"
            [controlName]="'email'"
            [name]="'email'"
          >
          </app-input>
          <div *ngIf="email?.errors && email?.touched">
            <p class="validation">Campo obbligatorio</p>
          </div>
        </div>

        <div class="buttonLogin">
          <app-button
            [typeButton]="'submit'"
            [textButton]="'Invia email di recupero password'"
            [disabled]="form.invalid"
          >
          </app-button>
        </div>
      </form>
    </div>
  </div> -->

  <div *ngIf="!isEmailSent" class="email-sent">
    <div class="forgot-container">
      <div class="head email">
        <h1 class="title email">Password dimenticata</h1>
      </div>

      <div>
        <div class="message">ok, ma la prossima volta segnatela. ☹️</div>

        <div *ngIf="form">
          <form
            class="login"
            [formGroup]="form"
            (ngSubmit)="onSubmitRecoveryPassword()"
          >
            <div class="email">
              <app-input
                [textLabel]="'Email*'"
                [placeholder]="'Inserisci la tua email'"
                [backgroundInput]="'var(--input-bg-color)'"
                [for]="'email'"
                [parentFormGroup]="form"
                [controlName]="'email'"
                [name]="'email'"
              >
              </app-input>
              <div *ngIf="email?.errors && email?.touched">
                <p class="validation">Campo obbligatorio</p>
              </div>
            </div>

            <div class="buttonLogin">
              <app-button
                [typeButton]="'submit'"
                [textButton]="'Invia email di recupero password'"
                [disabled]="form.invalid"
              >
              </app-button>
            </div>
          </form>
        </div>

        <!-- <div class="buttonContainer">
          <app-button
            (click)="onReturnToLogin()"
            [typeButton]="'button'"
            [textButton]="'Recupera password'"
          ></app-button>
        </div> -->
      </div>
    </div>
  </div>

  <div *ngIf="isEmailSent" class="email-sent">
    <div class="forgot-container">
      <div class="head email">
        <h1 class="title email">Email inviata 🎉</h1>
      </div>

      <div>
        <div class="message">
            Controlla la tua casella di posta per effettuare il reset della password.
        </div>
        <div class="buttonContainer">
          <app-button
            (click)="onReturnToLogin()"
            [typeButton]="'button'"
            [textButton]="'Torna alla Login'"
          ></app-button>
        </div>
      </div>
    </div>
  </div>
</div>
