<div id="container">
    <div id="head">
      <h1 id="title">Badgeverso</h1>
      <span id="point"></span>
    </div>

    <div>        
        <div id="message">
            Problemi di accesso? Inserisci il tuo indirizzo e-mail e ti invieremo un link per accedere di nuovo al tuo account.
        </div>
      </div>

  
    <div *ngIf="form">
      <form id="login" [formGroup]="form" (ngSubmit)="onSubmitRecoveryPassword()">
        <div id="email">
          <app-input
            [textLabel]="'Email*'"
            [placeholder]="'Inserisci la tua email'"
            [backgroundInput]="'var(--input-bg-color)'"
            [for]="'email'"
            [parentFormGroup]="form"
            [controlName]="'email'"
            [name]="'email'"
          >
          </app-input>
          <div *ngIf="email?.errors && email?.touched">
            <p class="validation">Campo obbligatorio</p>
          </div>
        </div>
  
        <div id="buttonLogin">
          <app-button
            [typeButton]="'submit'"
            [textButton]="'Invia email di recupero password'"
            [disabled]="form.invalid"
          >
          </app-button>
          
        </div>
      </form>
    </div>
  </div>
  
