<div id="container">
    <div *ngFor="let link of links" >
        <!-- <div>{{link.text}} {{link.url}}</div> -->
        <div id="deleteIcon" *ngxPermissionsOnly="['ADMIN']" (click)="clicked(link._id)">
           
            <!-- aggiungere ngx permission -->
            <img alt="cestino" src="../../../assets/images/cestino.png">
        </div>
        <a [href]="'http://'+link.url">
            <app-button class="buttonLink" [typeButton]="'button'"  [textButton]="link.text"></app-button></a>
    </div>
    <!-- <app-button class="buttonLink"[typeButton]="'button'" [textButton]="'Giba'"></app-button>
    <app-button class="buttonLink" [typeButton]="'button'" [textButton]="'Wiki aziendale'"></app-button>
    <app-button class="buttonLink" [typeButton]="'button'" [textButton]="'Guideline Brand SM'"></app-button> -->
</div>