/* You can add global styles to this file, and also import other style files */
@import './assets/fonts.css';


:root{
    --bg-primary-color:#003594;
    --primary-color: white;
    --bg-secondary-color: #C1C1C1;
    --secondary-color: #545454;
    --border-color: #C6D1E4;
    --input-bg-color: #F1F2F2;
    --placeholder-color: rgba(0, 0, 0, 0.5);
    --input-color: rgb(0, 0, 0)
}

body{
    font-family: Gotham;
    background-color: var(--primary-color);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media only screen and (min-width: 1000px){
    /*Big smartphones [426px -> 600px]*/
    body {
        margin: 0 auto;
        width: 50%;
    }
}